{% extends "base.html" %}

{% block content %}
    <div style="position: fixed; right: 10px; bottom: 10px; background: white; padding: 10px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); z-index: 1000;">
        <input type="text" id="searchInput" placeholder="Введите текст для поиска">
        <button onclick="searchText()">Искать</button>
        <div class="controls" style="display:none;">
            <button onclick="prevMatch()">⬆️ Назад</button>
            <button onclick="nextMatch()">⬇️ Далее</button>
            <span id="matchCounter"></span>
        </div>
    </div>
    <div style="margin: 5%">
        {% for s in strings %}
            {% if s[0] == '!' %}
                <div align="center">
                    <a href="/" style="font-size: 2rem; text-decoration: none;">{{ s[1:] }}</a>
                </div>
            {% elif s[0] == '?' %}
                <h4><br>{{ s[1:] }}</h4>
            {% elif s[:3] == 'img' %}
                <img src="data:image/png;base64,{{ s[3:] }}" alt="Base64 Image" style="max-width: 150px;">
            {% else %}
                <h6>{{ s }}</h6>
            {% endif %}
        {% endfor %}
    </div>
    <div style="height: 130px"></div>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}