{% extends "base.html" %}

{% block content %}
    <div style="position: fixed; right: 10px; bottom: 10px; background: white; padding: 10px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); z-index: 1000;">
        <input type="text" id="searchInput" placeholder="Введите текст для поиска">
        <button onclick="searchText()">Искать</button>
        <div class="controls" style="display:none;">
            <button onclick="prevMatch()">⬆️ Назад</button>
            <button onclick="nextMatch()">⬇️ Далее</button>
            <span id="matchCounter"></span>
        </div>
    </div>
    {% for questions in all_lst_questions %}
        {% include 'one_show_test.html' %}
    {% endfor %}
    <div style="height: 130px"></div>
    <div id="modalWin" class="modal">
        <button class="modal-prev">&#10094;</button>
        <button class="modal-next">&#10095;</button>
        <div class="modal-window">
            <img src="">
        </div>
        <div class="overlay" data-easy-toggle="#modalWin" data-easy-class="show" data-easy-rcoe></div>
    </div>
    <script src="{{ url_for('static', filename='js/modal_wind.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view_photo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}